/* Specific for (yellow) tips. */
div.sidenote_tip {
  background-color: #FFFF88;
  border-color: #FFF8BF;
}

div.sidenote_tip .sidenote_title {
  background-color: #eee800;
  background-image: url(../../../images/icons/extrasmall/idea.gif);
  background-position: center right;
  background-repeat: no-repeat;
  border-color: #FFF8BF;
}

/* Specific for (white) notes. */
div.sidenote_note {
  background-color: #fff;
}

div.sidenote_note .sidenote_title {
  background-color: #efefef;
  background-image: url(../../../images/icons/extrasmall/reminders.gif);
  background-position: center right;
  background-repeat: no-repeat;
}

/* Specific for (orange) warnings. */
div.sidenote_warning {
  background-color: #FFF8BF;
  border-color: #FFD324;
}

div.sidenote_warning .sidenote_title {
  background-color: #FFD324;
  background-image: url(../../../images/icons/extrasmall/status_unknown.gif);
  background-position: center right;
  background-repeat: no-repeat;
  border-color: #FFD324;
  color: #BB330C;
}


.indexBox {
    background-color: #e6e6ff;
    border: 1px solid #9bb8d9 !important;
    color: #27427D !important;
    margin: 5px !important;
    padding: 10px !important;
    float:left;
    line-height: 1.5em;
    font-size: smaller;
}